/* Cores da página */
:root {
    --color-one:#01041f;
    --color-two:#a3a0a0;
    --color-tree:#2D2640;
    --color-four:#ffffff;
    --color-five:#dddada;
    --color-six:#F9F9F9;
    --color-seven:#e2e2e2;
    --color-eight:#d4d4d4;
    --color-nine:#696868;
    --color-ten:#a6a9acfe;
    --color-eleven:#5a5a5a;
}
/******/