/* import css */
@import "./color.css";
/*****/
/* import Google Fonts Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*****/

/* font Poppins*/
:root {
 --font-poppins:Poppins;
}
/****/

/* Resete padrão da página */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body {
    height:100%;
}

.center {
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    padding:0 2%;
}
/****/

/* Classes gerais */

/*header*/
header {
    width: 100%;
    padding:2rem;
    
}

.flex-division {
    display:flex;
    align-items:center;
    justify-content:space-between;
    
}

.wrapper-division {
    display:flex;
    align-items:center;
    gap:1.2rem;
}

nav.desktop ul li {
    display:inline-block;
    padding:0 1rem;
}

nav.desktop ul li a {
    color:var(--color-two);
    text-decoration:none;
    font-size:1rem;
    font-family:var(--font-poppins);
    transition: .5s ease-in;
}

nav.desktop ul li a:hover {
    color:var(--color-one);
}

.button button.btn-menu {
    padding:0.7rem 1rem;
    background-color:transparent;
    border:2px solid var(--color-one);
    font-size:0.7rem;
    font-family:var(--font-poppins);
    transition: .5s ease-in;
    cursor:pointer;
}

.button button.btn-menu:hover {
    color:var(--color-four);
    background-color:var(--color-one);
}

/* menu mobile */

.list-mobile {
    display: none;
}
.list-mobile img {
    width: 40px;
    height:40px;
    cursor:pointer;
}

.menu-mobile {
    display: none;
    width: 0%;
    height:100vh;
    background-color:var(--color-four);
    position: fixed;
    overflow: hidden;
    top: 0;
    right:0;
    z-index: 9999999;
}

.menu-mobile.show-menu {
    width: 70%;
}

.wrapper-menu {
    margin-top:10rem;
}

nav.nav-mobile ul {
  list-style-type: none;
}

nav.nav-mobile ul li {
    padding:2rem 2%;
}

nav.nav-mobile ul li:hover {
    background-color: var( --color-twelve);
}

nav.nav-mobile ul li a {
    color:var(--color-two);
    font-size:1rem;
    font-family:var(--font-poppins);
    text-decoration:none;
}

nav.nav-mobile ul li a:hover {
    color:var(--color-one);
}

.buttonMobile {
    text-align: center;
    margin-top:1.5rem;
}

button.btn-menu {
    padding:0.7rem 1rem;
    background-color:transparent;
    border:2px solid var(--color-one);
    font-size:0.7rem;
    font-family:var(--font-poppins);
    transition: .5s ease-in;
    cursor:pointer;
}

button.btn-menu:hover {
    color:var(--color-four);
    background-color:var(--color-one);
}

.btn-close {
    float:right;
    padding:10px 30px;
    cursor:pointer;
}

.btn-close  img {
    width:32px;
    height:32px;
} 

.overlay-menu {
    display: none;
    width: 100%;
    height:100%;
    background-color:var(--color-twelve);
    position:fixed;
    top:0;
    left:0;
    z-index:99999;
}

.menu-mobile.show-menu ~ .overlay-menu {
    display:block;
}
/*****/
/*****/
/*main*/
main {
    width: 100%;
    height:90vh;
    background-color:var(--color-tree);
    position:relative;
}

/* Main mobile */
.image-mobile {
    display: none;
    width: 100%;
    height:80vh;
    background-position: center;
    background-size:cover;
}

.design-mobile {
    display:none;
}

.info-mobile {
    text-align:center;
}

.title-mobile {
    display:none;
    color:var(--color-four);
    font-size:1.8rem;
    margin-bottom:1.3rem;
    font-family:var(--font-poppins);
    font-weight:normal;
}

.text-mobile {
    display:none;
    color:var(--color-five);
    font-size:1rem;
    font-family:sans-serif;
    font-weight: normal;
    max-width:400px;
    margin: 0 auto;
    line-height:1.5rem;
}

.button-mobile {
    display:none;
    margin-top:1.2rem;
}

.button-mobile .btn02-mobile {
    padding:10px 30px;
    background-color:transparent;
    border:2px solid var(--color-four);
    cursor:pointer;
}

.button-mobile .btn02-mobile span {
    color:var(--color-four);
    font-size:0.9rem;
    font-family:var(--font-poppins);
}

.design02-mobile {
    display: none;
   position: absolute;
   top:-130px;
   right:0;
}
/*****/

.design01 {
    position:absolute;
    right:0;
    z-index:99999;
}

.flex-main {
    display:flex;
    align-items:center;
    justify-content:center;
    gap:0.8rem;
}

.border-top01 {
    width:120px;
    height:2px;
    background-color:var(--color-five);
    margin-bottom:1.8rem;
}

.title-main > h2 {
    color:var(--color-four);
    font-size:3rem;
    font-family:var(--font-poppins);
    font-weight:normal;
    max-width:380px;
    margin-bottom:1rem;
}

.text-main > p {
    color:var(--color-five);
    max-width: 600px;
    font-size: 0.8rem;
    font-family: sans-serif;
    line-height:1.4rem;
    margin-bottom:1rem;
}

.button-main button.btn-banner {
    padding:0.7rem 3rem;
    background-color:transparent;
    border:2px solid var(--color-five);
    transition: .5s ease-ins;
    cursor:pointer;

}

.button-main button.btn-banner:hover {
    background-color:var(--color-four);
}

.button-main button.btn-banner:hover span {
    color:var(--color-one);
}


.button-main button.btn-banner span {
    color:var(--color-five);
    font-size:0.9rem;
    font-family:var(--font-poppins);
}

.right-image {
    position:relative;
    bottom:-8rem;
    z-index:999;
}

.right-image img {
    width:510px;
}
/******/

/* section session-one */
section.session-one {
    width: 100%;
    padding:1rem 0;
    background-color:var(--color-six);
    position: relative;
}

section.session-one .center {
    max-width: 1200px;
}

.design02 {
    position: relative;
    top:-8rem;
}

.design02 img {
    width:160px;
}

.border-top02 {
    width:120px;
    height:1px;
    background-color:var(--color-one);
    margin-bottom:1.8rem;
}

.title-session1 > h2 {
    color:var(--color-one);
    font-size:3rem;
    font-family:var(--font-poppins);
    font-weight:normal;
    margin-bottom:1.3rem;
}

.wrapper-compartment {
    display:flex;
    align-items:center;
    gap:2rem;
    margin-bottom: 8rem;
}

.box img {
    width:55px;
    height:55px;
    margin-bottom:1rem;
}

.box > h2 {
    color:var(--color-one);
    font-size:1.4rem;
    font-family:var(--font-poppins);
    font-weight:normal;
    margin-bottom:1rem;
}

.box > p {
    color:var(--color-two);
    font-size:0.9rem;
    font-family: sans-serif;
    max-width:580px;
    line-height:1.4rem;
}
/*****/

/* section session two */
section.session-two {
    width: 100%;
     padding:1rem 0;
     background-color:var(--color-six);
}

section.session-two .center {
    max-width:1200px;
}

.single-part {
    width: 100%;
    max-width: 1150px;
    height:252px;
    position: relative;
    overflow: hidden;
    margin-bottom: 8rem;
    background-color:var(--color-one);
    border-radius:8px;
}

.flex-part {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:4.5rem 6%;
}

.flex-part h2 {
    color:var(--color-four);
    font-size:1.8rem;
    font-family:var(--font-poppins);
    max-width:280px;
    font-weight:normal;
}

.button-part .btn-part {
     padding:0.7rem 2.8rem;
     background-color:transparent;
     border:2px solid var(--color-five);
     cursor:pointer;
     position: relative;
     transition: .5s ease-in;
     z-index: 999;
}

.button-part .btn-part:hover {
    background-color:var(--color-four);
}

.button-part .btn-part span {
    color:var(--color-four);
    font-family:var(--font-poppins);
}

.button-part .btn-part:hover span {
    color:var(--color-one);
}

.design03-mobile {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.image-part {
    position: absolute;
    bottom: -2px;
    right:0;
    z-index:99;
}
/****/
/* footer */

footer {
    width:100%;
    height:58vh;
    background-color:var(--color-eight);
    position:relative;
}

.design04-mobile {
    display: none;
}

.design04-mobile img {
   width: 100%;
   position: absolute;
   z-index: 2;
}

footer .design03 {
   position:absolute;
   top:1px;
   
}

footer .design03 img {
    width:560px;
}

footer .center {
    max-width:1200px;
}

.flex1-footer {
    display:flex;
    align-items:center;
    justify-content:space-between;
    position: relative;
    top:65px;
    z-index: 99;
    
}

.icon-social {
    display:flex;
    align-items:center;
    gap: 1rem;
}

.icon-social i {
    color:var(--color-nine);
    font-size:1.5rem;
    transition: .5s ease-in;
    cursor:pointer;
}

.icon-social i:hover {
  color:var(--color-two);
}


.border-bottom {
    width: 100%;
    height:2px;
    background-color:var(--color-ten);
    position: relative;
    margin-top:6rem;
    z-index:99;
}

.wrapper-list {
    display:flex;
    align-items:center;
    margin-top:3.3rem;
    justify-content: space-between;
}

.list h2 {
    color:var(--color-one);
    font-size:1rem;
    position: relative;
    font-family:var(--font-poppins);
    font-weight:bold;
    margin-bottom:1.1rem;
    z-index: 99999;
}

.list p {
    margin-top:0.9rem;
}

.list p a {
    color:var(--color-eleven);
    font-size: 0.8rem;
    text-decoration: none;
    font-family:var(--font-poppins);
    position: relative;
    cursor: pointer;
    transition:.5s ease-in;
    z-index:9999;
}

.list p a:hover {
    text-decoration: underline;
}


/*****/
